.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999;

  .modal-content {
    background: var(--greenColor);
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }

  .formContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .close-btn {
    width: 100%;
    text-align: right;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    color: white;
  }

  h2 {
    text-align: center;
  }

  .form-section,
  .signup-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid white;

    h3 {
      margin: 10px 0;
    }

    p {
      margin: 0 0 5px 0;
    }

    label {
      font-size: 0.7rem;
      color: white;
      padding: 5px 15px;
    }

    input {
      background: var(--darkColor);
      width: 100%;
      height: 40px;
      color: white;
      border: none;
      border-radius: 15px;
      padding: 5px 15px;
    }

    .password {
      margin-bottom: 20px;
    }

    a {
      color: white;
      text-align: right;
      font-size: 0.7rem;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      margin: 10px auto;
      padding: 10px 20px;
      border: 3px solid var(--goldColor);
      border-radius: 30px;
      color: var(--goldColor);
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      line-height: 1;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      outline: none;
      transition: all 0.5s ease;

      &:hover {
        color: white;
        background-color: var(--goldColor);
      }
    }
  }

  .signup-section {
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);

    .close-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      width: 30px;
      height: 30px;
      margin-left: 33rem;
      padding: 0;
      border: 0;
      border-radius: 8px;
      color: white;
      line-height: 1;
      cursor: pointer;
      transition: 0.15s ease;

      &:hover,
      &:focus {
        color: var(--goldColor);
        background-color: var(--darkColor);
        text-decoration: none;
        cursor: pointer;
      }
    }

    .formContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .signup-section {
      margin: auto 0;
      width: 49%;
      text-align: center;
    }

    .modalBtnConnect {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      margin-left: 3.5rem;
      color: var(--goldColor);
      border: 3px solid var(--goldColor);
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
      font-size: 1rem;
      padding: 12px;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.5s ease;
    }
    .modalBtnConnect:hover {
      color: white;
      background-color: var(--goldColor);
    }

    .create-account {
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: 3px solid var(--goldColor);
      border-radius: 5px;
      color: var(--goldColor);
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
      padding: 12px;
      outline: none;
      cursor: pointer;
      transition: all 0.5s ease;
    }

    .create-account:hover {
      color: white;
      background-color: var(--goldColor);
    }

    .form-section {
      margin: 20px 0 0 0;
      width: 49%;
      border-left: 1px solid white;
      border-bottom: none;
      padding: 0 10px;

      h3,
      p {
        text-align: center;
      }

      p {
        margin-bottom: 10px;
      }
    }
  }
}
