.submodal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: auto;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  * {
    scrollbar-width: 0;
  }

  *::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #ddd;
    border: 4px solid #fff;
  }
  .submodal-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--greenColor);
    width: clamp(300px, 90%, 700px);
    max-height: 70vh;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    color: white;
    overflow: hidden;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      max-width: 700px;
      max-height: 60px;
      padding: 16px 32px;
      border: 3px solid var(--goldColor);
      border-radius: 16px;
    }

    .sub-close-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      line-height: 1;
      padding: 0;
      border: 0;
      background: transparent;
      border-radius: 8px;
      color: white;
      cursor: pointer;
      transition: 0.15s ease;
    }

    .sub-close-btn:hover,
    .sub-close-btn:focus {
      color: var(--goldColor);
      background-color: var(--darkColor);
      text-decoration: none;
      cursor: pointer;
    }

    .submodal-container-body {
      padding-top: 65px;
      overflow-y: auto;

      .form-body {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
      }

      .form_label {
        color: var(--goldColor);
        margin: 10px 0 5px 20px;
        font-size: 0.7rem;
      }

      .form_input {
        margin: 0 0 10px 0px;
        border-radius: 30px;
        height: 2.8rem;
        padding-left: 20px;
        border: 0;
        color: white;
        background: var(--darkColor);
        font-size: 1.2rem;
      }

      .ckeckboxContainer {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 10px 20px;
      }

      .signup_checkbox {
        color: white;
      }
      .checkbox_input {
        margin: 10px;
        background: var(--darkColor);
        color: var(--goldColor);
      }

      a {
        color: var(--goldColor);
      }
    }
    .text_subscription {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 10px 20px;
      font-size: 0.8rem;
      color: white;

      a {
        color: var(--goldColor);
      }
    }

    .modal-container-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      gap: 2rem;
      position: relative;
      width: 100%;

      .cl-btn {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: center;
        background: transparent;
        outline: none;
        padding: 7px 15px;
        border-radius: 20px;
        font-size: 1.2rem;
        line-height: 1;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        color: var(--goldColor);
        transition: all 0.5s ease;
        cursor: pointer;

        &:hover {
          color: var(--darkColor);
          background-color: white;
        }
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        padding: 7px 15px;
        border: 3px solid var(--goldColor);
        border-radius: 25px;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--goldColor);
        transition: all 0.5s ease;
        cursor: pointer;
      }

      .btn:hover {
        background: var(--goldColor);
        color: white;
      }

      a {
        color: var(--goldColor);
      }
    }
  }
}
