nav {
  background-color: var(--greenColor);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: var(--headerHight);

  .categories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80vh;

    img {
      display: none;
    }
    p {
      color: white;
    }
  }
}

@media screen and (min-width: 765px) {
  nav {
    background-color: var(--greenColor);
    width: 70px;
    height: 100vh;
    display: block;
    position: fixed;

    .categories {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 600px;
      width: 100%;

      p {
        display: none;
      }

      img {
        display: block;
        width: clamp(30px, 2.5vw, 40px);
      }

      .profile {
        width: 50px;
        border-radius: 50%;
      }

      .small {
        width: clamp(20px, 2.2vw, 30px);
      }
    }
  }
}
