.gridAdmin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  margin: 0 auto;

  .cardForm {
    border: none;
    width: clamp(140px, 20vw, var(--imgWidth));
    height: clamp(
      200px,
      calc(20vw + var(--vid-info-height)),
      calc(var(--imgWidth) + var(--vid-info-height))
    );
    font-size: 0;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--greenColor);

    label {
      display: block;
      position: relative;
      cursor: pointer;
      transition-duration: 0.2s;
      transform-origin: 50% 50%;
      color: red;

      &:before {
        background-color: #ffffff;
        color: white;
        content: " ";
        display: block;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        left: -5px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 28px;
        transition-duration: 0.4s;
        transform: scale(0);
      }

      img {
        width: 100%;
        object-fit: cover;
        height: clamp(140px, 20vw, var(--imgWidth));
      }

      h2 {
        color: whitesmoke;
        width: 100%;
        height: fit-content;
        font-size: clamp(0.8rem, 3vw, 1rem);
        font-weight: 400;
        text-align: left;
        padding: 10px;
      }
    }

    input[type="checkbox"] {
      display: none;

      &:checked + label {
        transform: scale(0.9);

        &:before {
          content: "✓";
          background-color: var(--goldColor);
          transform: scale(1);
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    width: 90%;
  }
}
