.newSection {
  padding: 20px;

  .sectionLabel {
    color: whitesmoke;
    margin-right: 20px;
    font-size: clamp(0.8em, 3vw, 0.95em);
  }

  .hide {
    display: none;
  }

  .displayTypes {
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    color: whitesmoke;
    margin: 0 2rem 0 2rem;
  }
  .help {
    color: var(--goldColor);
    margin: clamp(1.5em, 3vw, 2em) 1em 1em;
    font-size: clamp(0.8em, 3vw, 0.95em);
  }

  .valid-btn {
    cursor: pointer;
    margin: 1.5rem 1rem 3rem;
    padding: 7px 15px;
    background-color: var(--goldColor);
    border-radius: 30px;
    border: none;
    color: whitesmoke;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    transition: all 0.5s ease;

    &:hover {
      color: var(--goldColor);
      background-color: whitesmoke;
    }
  }

  p {
    color: white;
    padding: 0 20px;
  }
}
