.footer {
  color: white;
  font-size: medium;
  padding: 0 10px;
  background: var(--greenColor);
  position: relative;
  bottom: 0;
  padding: 15px;
  height: fit-content;
  min-height: 270px;

  .rights {
    width: 100%;
    text-align: center;
    font-size: clamp(0.9em, 3vw, 1em);
  }

  img {
    width: clamp(65px, 5vw, 120px);
    height: auto;
    margin: 10px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;

    .unstyled {
      order: -1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 10px 0;
      line-height: 1.75rem;
      flex-basis: 26%;
      padding-right: 20px;
      width: 100%;
    }
    .col1 {
      .social-container {
        height: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: space-around;
        margin: 15px auto;
        width: 150px;
      }
    }
    .btnConnection {
      margin-top: 10px;

      img {
        width: 25px;
        height: 25px;
        margin: 10px;
      }
    }
    .list {
      list-style: none;
      margin: 15px;
      text-align: center;
    }
  }

  .description {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-left: 70px;
    .unstyled {
      flex-direction: column;
    }
    .flex {
      align-items: flex-start;
      flex-direction: row;
      margin-bottom: 40px;

      .col1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        order: -3;

        .social-container {
          height: fit-content;
          justify-content: space-between;
          align-items: space-around;
          margin: 0;
          width: 150px;
        }

        .description {
          display: block;
          line-height: 1.75rem;
          padding: 15px 0;
        }
      }
      .list {
        line-height: 1.9;
        order: -2;
      }
    }
    .btnConnection {
      width: 120px;
      height: 40px;
      margin-top: 5px;
    }
  }
}
