.wrapper {
  margin: 85px auto 30px;
  position: relative;

  .left {
    z-index: 10;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    left: -23px;
    img {
      width: 46px;
    }
  }

  .right {
    z-index: 10;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    left: calc(100% - 23px);
    img {
      width: 46px;
    }
  }

  .carousel {
    white-space: nowrap;
    font-size: 0;

    .cell {
      cursor: pointer;

      img {
        border: none;
        font-size: 0;
        margin-left: 14px;
        width: 150px;
        min-height: 300px;
        object-fit: cover;
        transition: 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          border: 1px solid var(--goldColor);
          box-shadow: 0 0 20px 0px var(--goldColor);
        }
      }
    }

    .cell:first-child {
      margin-left: 0;
    }
  }
}
