.wrapper {
  max-width: clamp(85vw, 80vw, 2000px);
  margin: 20px auto;
  position: relative;

  i {
    cursor: pointer;
    position: absolute;
    top: calc(var(--imgHeight) / 2 - 23px);
    img {
      width: 46px;
    }
  }
  i:first-child {
    left: -23px;
  }
  i:last-child {
    left: calc(100% - 23px);
  }
  .caroussel {
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    width: 100%;

    .cell {
      border: none;
      cursor: pointer;
      margin-left: 14px;
      width: 200px;
      font-size: 0;

      img {
        height: var(--imgHeight);
        object-fit: cover;
        width: 100%;
      }
    }
    .cell:first-child {
      margin-left: 0;
    }
  }
}
