.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  height: fit-content;
  padding: 10px 0;
  margin: 0 auto;

  .card {
    border: none;
    cursor: pointer;
    width: clamp(300px, 20vw, var(--imgWidth));
    height: clamp(
      180px,
      calc(10vw + var(--vid-info-height)),
      calc(var(--imgWidth) + var(--vid-info-height))
    );
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--greenColor);
    margin: 10px auto 30px auto;
    text-decoration: none;
    font-size: 0;
    animation: ZoomIn 0.3s linear;

    @for $i from 1 through 30 {
      &:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.1}s;
      }
    }

    &:hover {
      transform: scale(1.1);
      border: 1px solid var(--goldColor);
      box-shadow: 0 0 20px 0px var(--goldColor);
    }

    img {
      width: 100%;
      height: clamp(140px, 20vw, var(--imgWidth));
      object-fit: cover;
    }

    h2 {
      color: whitesmoke;
      width: 200px;
      height: 30px;
      font-size: 1rem;
      font-weight: 400;
      text-align: left;
      padding: 10px;
    }
  }
}

h3 {
  margin-left: 50px;
  color: white;
  font-size: 1.6rem;
}

.hide {
  display: none;
}

@keyframes ZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  85% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
