.body {
  width: 100vw;
  height: 100%;
  background-color: var(--secondDarkColor);
}

@media screen and (min-width: 756px) {
  .flexContainer {
    display: flex;
    align-items: flex-start;
  }

  .body {
    padding-top: var(--headerHight);
    padding-left: 70px;
  }
}
