.errorContainer {
  background: var(--darkColor);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 60px;
  min-height: 75vh;
  
  .errorImg {
    width: clamp(300px, 70%, 800px);
    animation: ZoomIn 0.5s ease-in-out;
  }

  .btnErrorReturn {
    margin: 0 0 30px 0;
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    background: var(--goldColor);
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    animation: ZoomIn 0.5s ease-in-out;

    > a {
      color: white;
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
    }
  }

  .creditImg {
    color: white;
    font-size: 0.6rem;
    text-decoration: none;
    animation: ZoomIn 0.5s ease-in-out;
  }
}

@keyframes ZoomIn { 
  0% {
    opacity: 0;
    transform: scale(.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}