.errorContainer {
    background: var(--darkColor);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px;
    min-height: 75vh;

    .errorImg {
        width: 70%
    }

    .btnErrorReturn {
        margin: 0 0 30px 0;
        padding: 10px 25px;
        border: none;
        border-radius: 30px;
        background: var(--goldColor);
        text-decoration: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        
        >a {
            color: white;
            font-size: 1.5rem;
            font-weight: 600;
            text-decoration: none;

        }
    }

    .creditImg {
        color: white;
        font-size: 0.6rem;
        text-decoration: none;
    }
}
