@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --greenColor: #1b2a24;
  --darkColor: #1e1e1e;
  --secondDarkColor: #1d1d1f;
  --goldColor: #faad3a;
  --fontFamily: "Roboto", sans-serif;
  --headerHight: clamp(59px, 5vw, 98px);
  --imgHeight: 200px;
  --imgWidth: 200px;
  --vid-info-height: 60px;
}
