header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: var(--greenColor);

  .burgerMenu {
    width: 50px;
    height: 40px;
    background-color: var(--darkColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: none;
    padding: 5px 0;
    border-radius: 5px;

    .bar {
      width: 35px;
      height: 5px;
      background-color: white;
      border-radius: 3px;
    }
  }
  img {
    width: clamp(100px, 7%, 200px);
    height: auto;
    margin: 10px;
  }
}
