header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 60px;
  width: 100vw;
  background: var(--greenColor);
  position: fixed;
  z-index: 50;

  .flexContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 60;

    .burgerMenu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: fit-content;
      height: 35px;
      background-color: var(--darkColor);
      border: none;
      border-radius: 5px;
      padding: 5px 8px;
      cursor: pointer;

      .bar {
        width: 25px;
        height: clamp(2.8px, 2vw, 3.5px);
        background-color: white;
        border-radius: 3px;
      }
    }

    .logo {
      width: clamp(60px, 5vw, 120px);
      height: auto;
      margin: 10px;
      margin-left: clamp(15px, 3vw, 30px);
      animation: fadeInLeft 0.5s ease-in-out;
    }
  }
  .btnBackAdmin {
    margin-right: 1rem;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
